<!DOCTYPE html>
<html>
<head>
	<title>Sentiment Analysis</title>
</head>
<body>
	<center>
		<h1>About this Project</h1>
	
		<p>Naive Bayesian and decision list classifiers were used to classify a given review as positive or negative. Deep-learning neural networks is also popular in the area of sentiment analysis. My dataset comes from Consumer Reviews of Amazon Products</p>

		<p>In this project i have used the naive bayes multinomial classifier, for more info. you can download the project from my <a href="https://github.com/arrowav36"> github link </a>. There are many other approaches to make this project, to know more details and description of the project or to get more material on the project like project report, .py files for the other approaches you can mail me on <strong>arrowav36@gmail.com.</strong></p></p>
	</center>

</body>
</html>